<!DOCTYPE html>
<html>

<head>
  <%= require("html-loader?interpolate!./_assets.html") %>
  <title>Hello! Js-Multi-Seed</title>
</head>

<body>
<h1 style="text-align: center">React</h1>
<div id="react_app"></div>
<br>
<br>
<h1 style="text-align: center">Vue</h1>
<div id="vue_app"></div>
</body>

</html>
